<!DOCTYPE html>
<html>
  <head>
    <%# <meta charset="UTF-8"> %>
    <title>Pirates and their Ships</title>
           
    </head>
    <body>
    <form action="/pirates" method="POST">
    <p>YOOOOOOOOOOOOO Enter you pirate info:</p>
    <br>
    <label>Pirate Name</label>
    <input type="text" name="pirate[name]">
    <br>
    <label>Pirate Weight</label>
    <input type="text" name="pirate[weight]">
    <br>
    <label>Pirate height</label>
    <input type="text" name="pirate[height]">
    <br>
    <label>Ship 1 Name</label>
    <input type="text" id="ship_name_1" name="pirate[ships][][name]">
    <br>
    <label>Ship 1 Type</label>
    <input type="text" id="ship_type_1" name="pirate[ships][][type]">
    <br>
    <label>Ship 1 Booty</label>
    <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
    <br>
    <label>Ship 2 Name</label>
    <input type="text" id="ship_name_2" name="pirate[ships][][name]">
    <br>
    <label>Ship 2 Type</label>
    <input type="text" id="ship_type_2" name="pirate[ships][][type]">
    <br>
    <label>Ship 2 Booty</label>
    <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
    <button type="submit" id="id" value="submit">Submit</button>
   
    </form>
    </body>


</html>